*{
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
    height: 10vw;
    
}

#barra-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
.logo{
    height: 140px;
    width: 250px;
}
.lupa{
    height: 15px;
    width: 20px;
}
.li1, .li2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

select, button{
    width: 150px;
    height: 60px;
    background-color: black;
    color: aliceblue;
    border-style: none;
    font-size: 20px;
}

li{
    list-style: none;
}

/* principal-------------------------------------------- */
main{
    height: 65vh;
    background: linear-gradient(90deg, #f4959a,#c382ba,#b5c3de,#00d7c5,#cc7814);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.caja {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinea verticalmente los elementos */
    height: 100%;
}

.imagen {
    background-image: url(figura.webp);
    background-repeat: no-repeat;
    background-position: left right;
    height: 700px;
    width: 700px;
    background-position: 60px 60px;
}
.transparente{
    width: auto;
    height: auto;
}

.parrafo {
    font-size: 25px;
    width: 750px;
    height: 600px;
    background-color: chartreuse    ;
    float: right; 
    margin-left: 500px;
    margin-top: 100px;
}

.botones {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.optiones {
    width: 2540px;
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 25px;
    cursor: pointer;
    background: transparent;
    border: solid white;
}
/* pie de pagina-------------------------------------------- */
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black; 
    padding: 20px;
}

img{
    height: 100px;
    width: 100px;
    
}

.js{
    width:600px ;
    height:400px ;
    background-color: rgb(35, 34, 34);
    margin-top: 100px;
}

.angular{
    width:600px ;
    height:400px ;
    background-color: rgb(35, 34, 34);
    margin-top: 100px;
}

.texto{
    width:600px ;
    height:400px ;
    background-color: black;
    margin-top: 100px;
}

.mensaje{
 margin-bottom: 50px;
}

/* Media queries */
@media only screen and (max-width: 768px) {
    
    main {
        flex-direction: column;
    }

    .parrafo {
        margin-left: 0; 
    }

    .js, .angular, .texto {
        width: 100%; 
        margin-top: 20px; 
    }
}

@media only screen and (max-width: 414px) {
   
    .logo {
        height: 100px; 
        width: 180px;
    }
}
