body{
    padding: 0;
    margin: 0;
    background-color:royalblue  ;
}

.cara{
    border-radius:50% ;
    width: 500px;
    height: 500px;
    background-color: white;
    margin-left: 30%;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgb(0, 0, 10)
}

.ojo1{
    background-color: black;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 5px;
    animation: mover 6s infinite; 
}

.ojo2{
    background-color: black;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 5px;
    animation: anime 6s infinite; 
}

@keyframes anime {
	
        0% {
            transform: translate(0px);
        }
        30%{
            transform: translate(20px,40px);
            height: 75px;
            width: 50px;
            border-radius: 40px;
        }
        60%{
            transform: translate(70px,-80px);
            width: 50px;
            height: 75px;
            border-radius: 40px;
        }
        80%{
            transform: translate(0px,0px);
            width: 75px;
            height: 75px;
            border-radius: 40px;
        }
        90%{
            transform: translate(0px,0px);
            width: 75px;
            height: 5px;
            border-radius: 40px;
        }
        100%{
            transform: translate(0);
            width: 75px;
            height: 75px;
            border-radius: 40px;
    }
}

@keyframes mover {
    0% {
        transform: translate(0px);
    }
    30%{
        transform: translate(20px,40px);
        height: 75px;
        width: 50px;
        border-radius: 40px;
    }
    60%{
        transform: translate(70px,-80px);
        width: 50px;
        height: 75px;
        border-radius: 40px;
    }
    80%{
        transform: translate(0px,0px);
        width: 75px;
        height: 75px;
        border-radius: 40px;
    }
    90%{
        transform: translate(0px,0px);
        width: 75px;
        height: 75px;
        border-radius: 40px;
    }
    100%{
        transform: translate(0);
        width: 75px;
        height: 75px;
        border-radius: 40px;
}
}
        
    


