*{
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
    height: 10vw;
    
}

#barra-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
.logo{
    max-width: 250px;
    max-height: 140px;
}
.lupa{
    height: 15px;
    width: 20px;
}
.li1, .li2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

select, button{
    width: 150px;
    height: 60px;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    border-style: none;
    font-size: 20px;
}

li{
    list-style: none;
}

/* principal-------------------------------------------- */
main{
    height: 65vh;
    background-color: aqua;
    background-image: url(figura.webp);
    background-repeat: no-repeat;
}



.parrafo{
    position: relative;
    
    width: 300px;
    height: 300px;
    border: solid;
}


/* pie de pagina-------------------------------------------- */
footer{
   
}

