*{
    padding: 0;
    margin: 0;
}

img{
    width:250px;
    height: 250px;
    gap: 50px;

}
.backroom{
    display: grid;
    place-items: center;
    background: cornflowerblue;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    z-index: 2;
}

main{  
    background-color: blue; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-items:center;
    
}

.img:focus,
.img:focus-within,
.img:hover {
  transform: rotateY(180deg);
}



