---
interface Props {
	title: string;
    image: string;
}

const { title, image } = Astro.props;
---

<div class:list={
    [
        "carta flex items-end w-1/12 p-6 rounded-[50px] bg-no-repeat bg-cover",
        `bg-[url('https://static0.gamerantimages.com/wordpress/wp-content/uploads/2023/09/jujutsu-kaisen.jpg')]`,
        
    ]}
    style=`background-image: url('https://static0.gamerantimages.com/wordpress/wp-content/uploads/2023/09/jujutsu-kaisen.jpg')`
    >
    <h3 class:list={
        [
            "text-white text-2xl font-bold",
            "hidden" 
        ]
    }>
        {title}
    </h3>
</div>
