
*{
    margin: 0px;
    padding: 0px;
}
/*Primera parte la barra de navegacion*/
nav ul{
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

li{
    margin-top: 25px;
}


.logo{
    height: 75px; /*Alto*/
    width:auto; /*Ancho*/
}

/*main lo principal del centro*/
/*Imagen del lobo*/
.lobo{
    width: 450px;
    height: 450px;
    margin-left: -40%;
    margin-top: 3%;
    position: absolute;
}

main{
    display: flex;
    justify-content: space-between;
    
}
.parrafo{
    width: 400px;
    height: 200px;
    margin-left: -70%;
}
/*Botones*/
.botones{
    margin-top: 20%;
    margin-left: -70%;
}
/*Botones*/

/*PIE DE LA PAGINA*/
/*JS*/
#icon_js{
    width: 50px;
    height: 50px;
}

/*Angular*/
#icon_angular{
    width: 50px;
    height: 50px;
}