---
interface Props {
    title: string;
    page: boolean;
}

const { title, page } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <title>{title}</title>
    </head>
    <body>
        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
            <div class="flex">
                <a
                    href="inico-sesion"
                    class:list={[
                        "flex justify-center items-center w-1/3 h-8 bg-green-300 rounded-t-xl ",
                        { "z-10 h-11 -mt-2 text-xl" : !page },
                    ]}
                >
                    <h2 class="text-white text-bold">Iniciar Sesion</h2>
                </a>

                <a href="registro"
                class:list={[
                    "flex justify-center items-center w-1/3 h-8 bg-red-300 rounded-t-xl -ml-4",
                    { "z-10 h-10 -mt-2 text-xl": page },
                ]}>
                    <h2 class="text-white text-bold">Registrarse</h2>
                </a>

                
            </div>
            <slot />
        </div>


        <!-- Main  -->
    </body>
</html>
