*{
    padding: 0;
    margin: 0;
    
}


/* ----------------------------header------------------------------------------- */
header {
    height: 10vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 50px; 
}



.don_bosco {
    width: 18vw; 
    height: 13vh; 
    
    align-self: center; 
}

#principal {
    
    height: 3vh;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
a{
    
    font-size: 15px;
    font-weight: 100;

    text-decoration: none;
}


/* -------------------------------------iconos---------------------------------- */
.bi{
    font-size: 25px;
    
}
.correo,.telefono{
    
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

/* ----------------------------navegacion------------------------------------------- */
nav{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-size: 25px; */
    background-color: white;
    margin-top: 50px;
    height: 3vh ; /*alto*/
    width: 80%; /*ancho*/
    display: flex;
    justify-content: space-between;
    
}
.enlaces{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 198px;
    height: 35px;
    background-color: rgb(247,181,22);
    
}
/* --------------------------------------boton----------------------------------- */
button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vh;
    height: 4vw;
    background-color: red;
}
/* ----------------------------main------------------------------------------- */
main{
    height: 50vh ; /*alto*/
    width: 100%; /*ancho*/
    background-color: aqua;
    
}

/* ----------------------------footer------------------------------------------- */
 footer{
    height: 30vh ; /*alto*/
    width: 100%; /*ancho*/
    background-color: blueviolet;
 }