*{
    padding: 0;
    margin: 0;
    
}


/* ----------------------------header------------------------------------------- */
header {
    height: 10vh;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 50px; 
}



.don_bosco {
    width: 18vw; 
    height: 13vh; 
    
    align-self: center; 
}

#principal {
    background-color: aquamarine;
    height: 3vh;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
a{
    background-color: blueviolet;
    font-size: 15px;
    font-weight: 100;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
}

/* ----------------------------navegacion------------------------------------------- */
nav{
    background-color: white;
    margin-top: 50px;
    height: 3vh ; /*alto*/
    width: 80%; /*ancho*/
    display: flex;
    justify-content: space-between;
    
}
.enlaces{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 213px;
    height: 35px;
    background-color: rgb(247,181,22);
    
}
/* ----------------------------main------------------------------------------- */
main{
    height: 50vh ; /*alto*/
    width: 100%; /*ancho*/
    background-color: aqua;
    
}

/* ----------------------------footer------------------------------------------- */
 footer{
    height: 30vh ; /*alto*/
    width: 100%; /*ancho*/
    background-color: blueviolet;
 }