---
import Layout from "../layouts/Layout.astro";
import Expanding from "../components/ExpandingCard.astro";
---

<Layout title="Welcome to Astro.">
   <div class="flex h-screen w-full p-6 gap-6">
      <Expanding
         title="Satoru"
         ,
         image="https://th.bing.com/th/id/OIP.7JAdevA4Gwhpp54sWNOGTQHaEo?rs=1&pid=ImgDetMain"
         ,
         
      />
      <Expanding
         title="Itadori"
         ,
         image="https://th.bing.com/th/id/OIP.7JAdevA4Gwhpp54sWNOGTQHaEo?rs=1&pid=ImgDetMain"
         ,
         
      />
      <Expanding
         title="Toji"
         ,
         image="https://th.bing.com/th/id/OIP.7JAdevA4Gwhpp54sWNOGTQHaEo?rs=1&pid=ImgDetMain"
         ,
         
      />
      <Expanding
         title="Geto"
         ,
         image="https://th.bing.com/th/id/OIP.7JAdevA4Gwhpp54sWNOGTQHaEo?rs=1&pid=ImgDetMain"
         ,
         
      />
      <Expanding
         title="Sukuna"
         ,
         image="https://th.bing.com/th/id/OIP.7JAdevA4Gwhpp54sWNOGTQHaEo?rs=1&pid=ImgDetMain"
         ,
         
      />
   </div>
</Layout>

<script>
	const carta = document.getElementsByClassName("carta");
	Array.from(carta)[0].classList.toggle("!w-2/3");
	Array.from(carta)[0].children[0].classList.toggle("!block");
 
	Array.from(carta).forEach((element) => {
	   element.addEventListener("click", () => {
		  removeActiveClasses();
		  element.classList.toggle("!w-2/3");
		  element.children[0].classList.toggle("!block");
	   });
	});
 
	function removeActiveClasses() {
	   Array.from(carta).forEach((element) => {
		  element.classList.remove("!w-2/3");
		  element.children[0].classList.remove("!block");
	   });
	}
 </script>