---
import Layout from "../layouts/Layout.astro";
import HiddenSearchwidget from "../components/HiddenSearchwidget.astro";
---

<Layout title="Welcome to Astro.">
    <div class="flex h-screen w-full">
        <HiddenSearchwidget />
    </div>
</Layout>
