---
import Layout from "../layouts/Layout.astro";
import ProgressStep from "../components/ProgressSteps.astro";
---

<Layout title="Welcome to Astro.">
   <div class="flex h-screen w-full p-6 gap-6">
        <ProgressStep lengthProgress={6}/>
   </div>   
</Layout>
