/*Primera primera linea de la pagina*/
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg,black 0%,grey 50%, black 100%);
}

.titulo, .caja, .botones{
    display: flex;
    flex-direction: row;
}


/* contenedor general */
.general{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.linea{
    margin-bottom: 70px;
    border-bottom-style: dashed;
    width:30vw ;
}

p{
    font-size: 45px;
}
h1{
    font-size: 45px;
    margin-top: 40px;
}

/*Imagenes*/
.cajas{
display: flex;
justify-content: space-around;
gap: 2vw;
}

.caja1, .caja2,.caja3,.caja4{
    margin-left: 50px;
    background-position: center;
    background-size: cover;
    border-radius: 10%;
    width: 400px;
    height: 600px;
    background-repeat: no-repeat;
}

.caja1{
    background-image: url(mash.jpg);
}   

.caja2{
    background-image: url(exorcist\ blue.webp);
}
.caja3{
    background-image: url(Solo-Leveling1.webp);
}

.caja4{
    background-image: url(Megalobox.jpg);
}
 /*Botones*/
 .botones{
    display: flex;
    justify-content: center;
    height: 80px;
    width: 500px;
    margin-top: 3%;
        
}
.bt1,.bt2,.bt3, .bt4,.bt5,.bt6,.bt7,.bt8{
font-size: 40px;
width: 50px;
height: 50px;
margin: 10px;
margin-left: 25px;
}
.puntos{
    
    margin-top: 2%;
    
}


.bt1:hover{
    background-color: blue;
}

.bt2:hover{
    background-color: blue;
}

.bt3:hover{
    background-color: blue;
}

.bt4:hover{
    background-color: blue;
}

.bt5:hover{
    background-color: blue;
}

.bt6:hover{
    background-color: blue;
}

.bt7:hover{
    background-color: blue;
}

.bt8:hover{
    background-color: blue;
}

.trans{
    width: 100%;
    height: 100%;
    background: linear-gradient(115deg, white 0% , rgba(243,235,1,0) 40%, rgba(243,235,1,0) 80%, white 100%);
    margin-top: -11%;
    border-radius: 5%;
}

.trans:hover{
    color: transparent;
    background: transparent;
   
}

