h1{
    text-align: center;
}

.principal{
    display: flex;
    flex-direction: row;
}

.enlaces{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 70px;
}

.info{
display: flex;
flex-direction: column;
margin-left: 10%;
}

a{
    text-decoration: none;
}
